:root {
    --sidebar-width: min(15%, 200px);
}

@keyframes wave {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #a5a5a5;
    padding: 0.5em;
    width: var(--sidebar-width);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sidebar li a {
    text-decoration: none;
    color: black;
    display: block;
}

.sidebar a:hover {
    background: linear-gradient(90deg, rgb(0, 0, 0), red, rgb(0, 0, 0));
    background-size: 200% 100%;
    animation: wave 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar h2 {
    text-align: center;
}

.sidebar li {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.8;
}

.header {
    background: linear-gradient(to right, #565656, #aaaaaa);
    padding: 1em;
    margin-right: var(--sidebar-width);
    margin-top: 0;
    margin-left: 0;
}

.header h1 {
    font-size: 2em;
    color: white;
    margin-left: 2em;
}

.content {
    background: linear-gradient(to right, #eeeeee, #aaaaaa);
    margin-right: var(--sidebar-width);
    padding: 1em;
    min-height: 100vh;
}

.content p {
    line-height: 1.6;
    border: 1px solid #ca621d;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

.content h3 {
    font-size: 1.5em;
    margin-left: 1.5em;
    margin-top: 1em;
}

.content img {
    max-width: 80%;
    max-height: 100px;
}

#imgtext{
    font-size: 0.9em;
    color: #555;
    margin-top: 0.5em;
    text-align: center;
}

.weather-container {
    align-items: center;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

.weather-data {
    background-color: rgba(175, 198, 219, 0.95);
    border: 1px solid #ca621d;
    border-radius: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    padding: 2em;
    width: min(65%, 500px);
    margin: auto;
}

.weather-data p {
    font-size: 1.3em;
    border: none;
    margin: 0;
    padding: 0.5em;
}

.weather-data img {
    width: 100px;
    height: 100px;
}

#city-input {
    padding: 10px;
    margin: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#city-input-btn {
    padding: 10px;
    background-color: #69747c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#city-input-btn:hover {
    background: linear-gradient(90deg, #69747c, rgb(42, 155, 175), #69747c);
    background-size: 200% 100%;
    animation: wave 2s linear infinite;
}